* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #000;
    min-height: 100vh;
    font-smoothing: antialiased;
  }
  
  .container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
      filter: hue-rotate(0deg);
    }
  
    100% {
      filter: hue-rotate(360deg);
    }
  }
  
  .row {
    display: inline-flex;
    margin-left: -50px;
    margin-top: -32px;
    overflow: hidden;
  }
  
  .row:nth-child(even) {
    margin-left: 1px;
  }
  
  .hexagon {
    position: relative;
    height: 110px;
    width: 100px;
    background: #2e2d2d;
    margin: 1px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 2s;
  }
  
  .hexagon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.02);
  }
  
  .hexagon:hover {
    transition: 0s;
    background: rgb(252, 252, 252);
    cursor: alias;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Anton);
  
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #cec8c8;
    font: 5em/1em 'Anton';
    text-transform: uppercase;
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px 5px rgba(0, 0, 0, 0.5);
  }
  
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease-in-out;
    animation: move 3s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
  
    50% {
      text-shadow: 0 25px 50px rgba(72, 255, 0, 0.75);
    }
  
    100% {
      transform: translate(30%, 0);
    }
  }
  
  span:nth-child(2):hover {
  
    color: #4aacb8;
    top: 2px;
    left: 2px;
    text-shadow: 1px 1px #1b818d, 2px 2px #1b818d, 3px 3px #1b818d, 4px 4px #1b818d, 4px 4px 5px rgba(0, 0, 0, 0.5);
  }
  
  span:nth-child(3):hover {
    color: #49b8ff;
    top: -8px;
    left: -8px;
    text-shadow: 1px 1px #116295, 2px 2px #116295, 3px 3px #116295, 4px 4px #116295, 5px 5px #116295, 6px 6px #116295, 7px 7px #116295, 8px 8px #116295, 9px 9px #116295, 10px 10px #116295, 11px 11px #116295, 12px 12px #116295, 13px 13px #116295, 14px 14px 5px rgba(0, 0, 0, 0.5);
  }
  
  span:nth-child(4):hover {
    color: #cc3fd9;
    top: 4px;
    left: 4px;
    text-shadow: 1px 1px #870d92, 2px 2px #870d92, 2px 2px 3px rgba(0, 0, 0, 0.5);
  }
  
  span:nth-child(6):hover {
    color: #d34a87;
    top: -10px;
    left: -10px;
    text-shadow: 1px 1px #8b1b4d, 2px 2px #8b1b4d, 3px 3px #8b1b4d, 4px 4px #8b1b4d, 5px 5px #8b1b4d, 6px 6px #8b1b4d, 7px 7px #8b1b4d, 8px 8px #8b1b4d, 9px 9px #8b1b4d, 10px 10px #8b1b4d, 11px 11px #8b1b4d, 12px 12px #8b1b4d, 13px 13px #8b1b4d, 14px 14px #8b1b4d, 15px 15px #8b1b4d, 16px 16px #8b1b4d, 16px 16px 8px rgba(0, 0, 0, 0.5), 17px 17px 10px rgba(0, 0, 0, 0.3), 18px 18px 5px rgba(0, 0, 0, 0.5);
  }
  
  span:nth-child(7):hover {
    color: #d13153;
    text-shadow: 1px 1px #83142c, 2px 2px #83142c, 3px 3px #83142c, 4px 4px #83142c, 5px 5px #83142c, 6px 6px #83142c, 7px 7px #83142c, 8px 8px #83142c, 9px 9px 3px rgba(0, 0, 0, 0.5);
  }
  
  span:hover {
    color: #acd335;
    text-shadow: 1px 1px #749218, 2px 2px #749218, 3px 3px #749218, 4px 4px #749218, 5px 5px #749218, 6px 6px #749218, 7px 7px #749218, 8px 8px #749218, 9px 9px 3px rgba(0, 0, 0, 0.5);
    top: -2px;
    left: -2px;
    transition: all 0.1s ease-in-out;
  }
  
  